Body{
    background-image: url("Images/Untitled-2.jpg");
    background-repeat: repeat-y,x;
}

p{
}

.surface{
    height: 950;
    width: 1000;
    margin: auto;
    padding-top: 10;
}

.background{
    height: 950;
    width: 800;
    margin: auto;   
}




 

