Body{
} 
p{
}

.background{
    height: 900;
    width: 900;
    background-color: ;
    margin: auto       
}

.buttonarea{
    text-align: center;
    height: 150;
    width: 300;
    
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    
}    

.title{
    font-family: ;
    font-size: 60;
    font-weight: bold;
    color: 4CAF50;
    text-align: center;
    padding-top: 50;
}

.button {
  display: inline-block;
  padding: 50px 60px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}
    

 

