Body{
} 
p{
}

.background{
    height: 900;
    width: 900;
    background-color: black ;
    margin: auto       
}

.buttonarea{
    text-align: center;
    height: 150;
    width: 900;
    
    position:relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -40%);
    
}    

.title{
    font-family: ;
    font-size: 60;
    font-weight: bold;
    color: 4CAF50;
    text-align: center;
    padding-top: 50;
}

.thebutton {
  display: inline-block;
  padding: 50px 60px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
    -webkit-user-select: none;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.thebutton:hover {background-color: #3e8e41}

.thebutton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



 

